body{
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    color: white;
}

li a {
    text-decoration: none;
    list-style-type: none;
    margin: 0 15px;
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

