body {
    font-family: "Avenir", "Nunito", Arial, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
background-color: white;
    width: 1440px;
    height: 1024px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 135px;
    margin-top: 120px;
    margin-left: 65px;
    margin-right: 65px;
}

.text-header {
    color: #252525;
    font-size: 26px;
    width: 526px;
    height: 178px;
}

.container-title {
    width: 675px;
    height: 80px;
    font-weight: 800;
    font-size: 64px;
}

.container-title h1 {
    margin-top: 0;
    font-size: 84px;
    color: #252525;
}

.image {
    margin-top: 120px;
    margin-right: 65px;
    margin-bottom: 55px;
    margin-left: 65px;
    align-content: center;
}

.button {
    width: 155px;
    height: 50px;
    border-radius: 15px;
    background-color: #252525;
    color: white;
    border: none;
    font-size: 18px;
}