body {
    font-family: "Noto Sans", "Nunito", Arial, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 135px;
    margin-top: 120px;
    margin-left: 65px;
    margin-right: 65px;
}

.header {

}