* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;   
    justify-content: center;
    background-color: #e5e5e5;
}

.container {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    float: right;
    width: 40%;
}

.logo img {
    width: 100%;
}

.content {
    width: 55%;
}

h1 {
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 42px;
    margin-bottom:20px
}

.logos {
    margin-bottom: 20px;
}

.images {
    display: flex;
    gap: 10px;
}

.images img {
    width: 45px;
    height: 45px;
    margin-right: 8px;
    border-radius: 50%;
}

p {
    width: 400px;
    color: #cccccc;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.button {
    background-color: #cd292a;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 12px 25px;
}

.inferior-container {
    clear: both;
    text-align: center;
    margin-top: 60px;
}

.inferior-container div {
    background-color: #1c1f26;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 20px;
    font-size: 13px;
}