* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #e5e5e5;
    justify-content: center;
    margin: 0;
}

.background {
    width: 100%;
    height: 1440px;
    background-image: url("imatges/background.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-color: #f2f4f6;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

h1 {
    color: white;
    margin: 0;
    font-size: 72px;
    font-weight: 900;
}

p {
    color: white;
    max-width: 549px;
    font-size: 22px;
}

button {
    border-radius: 33px;
    padding: 16px 40px;
    font-size: 20px;
    font-weight: 499;
    border: none;
}

/*bloques*/
.Fila {
    display: flex;
    width: 100%;
}

.Columna1,
.Columna2,
.Columna3 {
    flex: 1;
    height: 521px;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    display: flex;
}

.Columna1 { background-image: url(imatges/left.png); }
.Columna2 { background-image: url(imatges/Middle.png); }
.Columna3 { background-image: url(imatges/Right.png); }

.info {
    padding: 32px;
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.4), transparent);
}

.info h2 {
    margin: 0;
    font-size: 27px;
}

.informacion p {
  text-align: left;
  width: 316px;
  height: 58px;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  margin-top: -10px;
}