body {
    font-family: "Lato", sans-serif;
    display: flex;
    background-color: #e5e5e5;
    justify-content: center;
}

.background {
    width: 1440px;
    height: 1010px;
    background-image: url("imatges/background.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-color: #f2f4f6;
}

.container {
    flex-direction: column;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
    width: 637px;
    height: 327px;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 145px;
    color: #ffffff;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    width: 636px;
    height: 87px;
}

p {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    height: 93px;
    width: 552px;
}

button {
    border-radius: 34px;
    padding: 24px 48px 24px 48px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    width: 178px;
    height: 66px;
}

.Fila {
    display: flex;
}

.Columna1 {
    background-image: url("imatges/left.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 520px;
}

.Columna2 {
    background-image: url("imatges/Middle.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 520px;
}

.Columna3 {
    background-image: url("imatges/Right.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 520px;
}

.info {
    top: 350px;
    height: 125px;
    width: 320px;
    padding-top: 350px;
    padding-right: 96px;
    padding-bottom: 46px;
    padding-left: 64px;
    background: 180deg;
}

.info h1 {
    font-weight: 800;
    font-size: 36px;
    color: #ffffffcc;
    text-align: left;
    height: 38px;
    width: 316px;
}

.informacion p {
  text-align: left;
  width: 316px;
  height: 58px;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  margin-top: -10px;
}